/*
STYLES GUIDE
  0. VARIABLES
  1. RESET
  2. LAYOUT
  3. GENERIC ITEMS
  4. GENERIC TYPES
  5. PARTS OF WEB
*/

/* 0. VARIABLES */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

$alert-color: #dd0000;
$dark-color: #1E293B;
$link-color: #0063c5;
$hover-dark-color: #141b27;
$hover-light-color: #dadada;
$border-light-color: #dbdbdb;
$light-color: #f8f9fa;
$create-color: #11a688;
$create-dark-color: #0f9278;

/* 1. RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
	vertical-align: baseline;
  font-family: 'Poppins', sans-serif;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
  overflow-x: hidden;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 2. LAYOUT */
.right-cover-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}

.column-right {
  flex: 1;
}

/* subcomponent wrapper */
.wrapper-dock {
  display: flex;
  flex-grow: 1;
}

.container-dock {
  flex: 1;
}
/* end wrapper */

/* 3. GENERIC ITEMS */
html, body {
  text-align: center;
  font-size: 13px;
}

h1 {
  font-weight: 500;
  font-size: 2rem;
}

a {
  text-align: center;
  text-decoration: none;
  color: inherit;
}

ul li {
  text-align: center;
  list-style: none;
}

ul {
  padding: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

input, select, textarea {
  width: 100%;
  height: 2.3rem;
  border-radius: 0 !important;
}

input[type="submit"] {
  margin-top: 2rem;
}

label {
  font-weight: 600;
  width: 100%;
}

nav {
  border-bottom: 1px solid $border-light-color;
  max-height: 4.8rem;
}

figure {
  margin: 0 auto !important;
}

.table-contain {
  max-height: 20rem;
  padding: 1rem;
  overflow: auto;
}

.right-search {
  margin: 0;
  margin-right: 2rem;
}

#search {
  width: 200px;
  height: 2.3rem;
}

.right-search button {
  height: 2.3rem;
}

.left-options {
  margin: 0 1.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
  text-align: left;
}

.text-left {
  text-align: left;
}

/* 4. GENERIC TYPES */

.in-alert {
  color: $alert-color;
}

.in-link {
  color: $link-color;
  text-decoration: underline;
}

.avatar-rounded {
  border-radius: 50%;
}

.maintitle {
  text-align: left;
}

/* 5. PARTS OF WEB */
/* buttons */
.btn-primary {
  background-color: $dark-color;
  border: none;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: $hover-dark-color !important;
}

.btn-outline-secondary {
  border: 1px solid $border-light-color;
  border-radius: 0;
}
.btn-create {
  background-color: $create-color;
}

.btn-create:hover, .btn-create:active {
  background-color: $create-dark-color !important;
}
/* end buttons */

/* navbar */
#navbar {
  padding: 0;
}

#navbar .justify-content-start {
  max-width: 150px;
  margin: 0;
}

#navbar .justify-content-end {
  max-width: calc(100% - 150px);
  margin: auto;
}
/* end navbar */

/* login */
.login-form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.children-login-form {
  max-width: 400px;
}
/* end login */

/* modal form */
.modal-form label {
  text-align: left;
}

.modal-form .form-group {
  margin-bottom: 1rem;
}
/* end form */

/* sidebar */
.sidebar {
  width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $light-color;
  border-right: 1px solid $border-light-color;
}

.sidebar ul {
  width: 100%;
}

.sidebar ul li {
  padding: 10px 25px;
  text-align: left;
}

.sidebar-item:hover, .sidebar-item>*:hover {
  background-color: $hover-light-color;
}
/* end sidebar */
.modal-backdrop {
  display: none;
}

#particles-js{
  width: 100%;
  height: 6.5rem;
  background: linear-gradient(45deg, rgba(0,0,0,0.4), #11016FAA, #01102DAA), rgb(0, 0, 94);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}